@charset "UTF-8";
/* RESET CSS */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Réinitialisation des marges et des rembourrages pour le body et l'HTML */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Style de base pour le contenu principal */
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main {
  flex: 1;
  /* Le contenu principal prendra toute la hauteur disponible */
}

/* Style du pied de page */
footer {
  position: relative;
  /* Position relative pour positionner le pied de page par rapport au contenu principal */
  bottom: 0;
  /* Le pied de page reste en bas */
  width: 100%;
  background-color: #333;
  /* Couleur de fond du pied de page */
  color: #fff;
  /* Couleur du texte du pied de page */
  padding: 10px;
  /* Espacement intérieur du pied de page */
}

.showBox {
  border: solid #000 1px;
  padding: 10px;
  margin-top: 50px;
  background-color: #FFA500;
}

.btnProjectIndex {
  background-color: #0f056b;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.btnProjectIndex:hover {
  background-color: #0f056b;
  color: #fff;
  cursor: pointer;
}

/* Class  */
.center {
  text-align: center;
}

.titlePage {
  margin: 20px 0;
}

.boxUser {
  background-color: #FFA500;
  border-radius: 3%;
  padding: 20px;
  width: 400px;
}

/* CSS existant... */
/* Nouveau code pour le pied de page */
.homePage {
  min-height: 100vh;
  /* Définit la hauteur minimale du contenu principal pour occuper au moins 100% de la hauteur de la fenêtre (viewport) */
  display: flex;
  flex-direction: column;
}

/* Assurez-vous que le pied de page reste en bas */
.footer {
  margin-top: auto;
}

/* CSS existant... */
.btnC {
  background-color: #FFA500;
  color: #0f056b;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.btnC:hover {
  background-color: #0f056b;
  color: #FFA500;
  cursor: pointer;
}

.mainForm {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.mainForm .boxForm {
  background-color: #FFA500;
  border-radius: 5%;
  padding: 20px;
  width: 500px;
}
.mainForm .boxForm h2 {
  margin: 10px 0;
}
.mainForm .boxForm input, .mainForm .boxForm textarea, .mainForm .boxForm select {
  margin-bottom: 20px;
}
.mainForm .boxForm button {
  background-color: #0f056b;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.mainForm .boxForm button:hover {
  background-color: #0f056b;
  color: #fff;
  cursor: pointer;
}

.navbar {
  background-color: #0f056b;
  color: #FFA500;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .navbar-brand {
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #FFA500;
  margin-left: 20px;
}
.navbar .nav-link {
  color: #fff;
  text-decoration: none;
}
.navbar .navbar-toggler {
  background-color: #FFA500;
}

/* Styles pour le footer */
footer {
  background-color: #0f056b;
  color: white;
  text-align: center;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

/* Styles pour les liens dans le footer */
footer a {
  color: white;
  /* Couleur du texte des liens */
  text-decoration: none;
  /* Enlever les soulignements des liens */
  margin: 0 10px;
  /* Espacement entre les liens */
}

/* Styles pour le footer responsive */
@media (min-width: 720px) {
  .footer {
    display: flex;
    flex-direction: row;
  }
}
.homePage {
  margin: 10% 0;
}
.homePage h1 {
  font-size: 3em;
}
.homePage p {
  font-size: 1.5em;
}

.loginMain {
  display: flex;
  justify-content: center;
}

.boxLogin {
  background-color: #FFA500;
  border-radius: 5%;
  padding: 20px;
  width: 400px;
}
.boxLogin button {
  background-color: #0f056b;
  color: #fff;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.boxLogin button:hover {
  background-color: #fff;
  color: #0f056b;
  cursor: pointer;
}
.boxLogin .lienRegister {
  text-decoration: underline;
}

.backP {
  background-color: #FFA500;
  color: #0f056b;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.backP:hover {
  background-color: #0f056b;
  color: #fff;
  cursor: pointer;
}

.headerP {
  margin: 20px 0;
  padding: 0 20px;
  border: solid #FFA500 1px;
  background-color: #0f056b;
  color: #fff;
  box-shadow: 10px 5px 5px #000;
}
.headerP .content {
  text-indent: 10%;
}

.btnProjet {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.boxTask {
  margin: 20px 10px;
  background-color: #FFA500;
  border-radius: 5%;
  padding: 20px;
  width: 400px;
}
.boxTask .editTask {
  background-color: #0f056b;
  color: #FFA500;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  display: inline-block;
  text-decoration: none;
  transition: 0.6s;
  transition-property: background-color, color;
}
.boxTask .editTask:hover {
  background-color: #0f056b;
  color: #FFA500;
  cursor: pointer;
}

.showTask {
  border: solid 1px #0f056b;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=styles.css.map */