  /* Styles pour le footer */
  footer {
        background-color: $blueNight;
        color: white;
        text-align: center;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        margin-top: 50px;

  }

  /* Styles pour les liens dans le footer */
  footer a {
      color: white;
      /* Couleur du texte des liens */
      text-decoration: none;
      /* Enlever les soulignements des liens */
      margin: 0 10px;
      /* Espacement entre les liens */
  }

  /* Styles pour le footer responsive */
  @media (min-width: 720px) {
    .footer {
        display: flex;
        flex-direction: row;
      }

    //   footer a {
    //       display: block;
    //       /* Afficher les liens en tant que blocs pour les empiler verticalement */
    //       margin: 5px 0;
    //       /* Espacement entre les liens */
    //   }
  }